$dark-background-color: #1F1F2C;
$light-background-color: #2270b9;
$dark-primary-color: #1A1A22;
$light-primary-color: #1b578f;
$dark-secondary-color: #D9D9D9;
$light-secondary-color: #00aeff;
$green-color: #03c04a;
$base-transition: 0.2s ease;